# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS y Windows
.DS_Store
Thumbs.db

# Build
/build
/captures
.externalNativeBuild
.cxx

# Firebase - proteger claves sensibles
app/google-services.json

